body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
}

.org-logo {
  width: 50px;
}

.navbar__profilePic{
  width: 26px;
  vertical-align: top;
}

li a{
  height: 56px;
}

.event__btn {
  display: inline-block;
}

.user *{
  display: inline-block;
}

.user__name {
  width: 200px;
}

.btn {
  width: 90px;
  border: none;
}

.event {
  background-color: #f2f2f2;
  border-radius: 5px;
}
