body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
}

  .navbar__profilePic{
    width: 26px;
    vertical-align: top;
  }

.about{
  background: url('https://images.unsplash.com/photo-1452626038306-9aae5e071dd3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=27ed81856a9fa1d779d726e2c1b72a75') no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin: 50px 0 0 0;
  text-align: center;
}

.main{
  margin: 66px 20px 30px 20px;
  max-width: 960px;
  padding: 5px 30px;
}

/*LANDING PAGE*/

.race-form{
  padding: 50px;
}

/*RACES*/

.org-logo {
  width: 50px;
}

li a{
  height: 56px;
}

.event__btn {
  display: inline-block;
}

.user *{
  display: inline-block;
}

.user__name {
  width: 200px;
}

.btn {
  width: 103px;
  border: none;
}

.event {
  width: 70%;
  /*display: inline-block;*/
  background-color: #f2f2f2;
  border: 1px solid #0E5D78;
  border-radius: 1px;
  padding: 1px 10px 20px 10px;
  margin: 10px 0;
}

footer{
  width: 100%;
  height: 20px;
  text-align: center;
  background: #222222;
  font-size: 8px;
  position: fixed;
  bottom: 0;
  color: #fff;
}
  footer li{
    display: inline;
    padding: 0 10px;
    vertical-align: bottom;
  }
  footer a{
    color: #008CBA;
  }

    footer a:visited{
      color: #008CBA;
    }

    footer a:hover{
      color: #1E5B6F;
    }

@media (max-width: 767px){
  .event{
    width: 85%;
  }
}
