body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.org-logo {
  width: 50px;
}

.navbar__profilePic{
  width: 26px;
  vertical-align: top;
}

li a{
  height: 56px;
}

a{
  color: inherit;
}

.event__buttons .btn{
  display: inline-block;
}
